html, body
{
    font-size:16px;
    font-weight: 400;
}

p 
{
    font-family: 'Quattroccento', Georgia, "Times New Roman", serif;
    line-height: 1.4em;
}

h1, h2 {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3.052em;
    word-spacing: 0.5em;
    margin: 0;
}

h2 {
    text-align: left;
    padding-top: 15px;
    font-weight: 500;
    font-size: 2.441em;
    word-spacing:0.2em;
    margin: 0; 
}

address 
{
    font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
    text-align: center;
}

address a 
{
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}
    address a:hover 
    {
        text-decoration: underline;
        background-color: #D6A800;
    }

    address a:visited {
        color: #00ff00;
    }

    .sentence 
    {
        font-style: italic;
    }

    .intro 
    {
        text-indent: 0.2em;
    }